<!--{include file='inc/header.html'}-->
<header class="demos-header">
	<h1 class="demos-title">
		<a href="<!--{base_url()}-->sys/area"> 
			<img src="<!--{base_url()}-->static/images/back.png"> <span>返回</span>
		</a> 
		<img id="masterMenu" src="<!--{base_url()}-->static/images/menu.png">
		<p>地区详情</p>
	</h1>
</header>
<!--{include file='inc/menu.html'}-->
<form id="dform">
<div class="weui-cells weui-cells_form">
	<div class="weui-cell weui-cell_select weui-cell_select-after">
        <div class="weui-cell__hd">
          <label for="" class="weui-label">上级城市</label>
        </div>
        <div class="weui-cell__bd">
          <select class="weui-select" name="pid">
          		<!--{if !empty($city)}-->						          
	   		  <!--{foreach $city as $value}-->
	   		  <option value="<!--{$value['area_id']}-->" <!--{if isset($result) && $result['pid'] == $value['area_id']}-->selected<!--{/if}-->><!--{$value['name']}--></option>
	   		  <!--{/foreach}-->
	   		  <!--{/if}-->	
          </select>
        </div>
      </div>

	<div class="weui-cell">
		<div class="weui-cell__hd">
			<label class="weui-label">城市/地区</label>
		</div>
		<div class="weui-cell__bd">
			<input class="weui-input" name="name" type="text" required value="<!--{isset($result) ? $result['name'] : ''}-->">
		</div>
	</div>
	
	<div class="button_sp_area">
		<a href="javascript:;" class="weui-btn weui-btn_primary">保存</a>
        <!--{if isset($result)}--> 
        <a href="javascript:;" url="<!--{base_url()}-->sys/area/del/<!--{$result['area_id']}-->" class="weui-btn weui-btn_warn">删除</a>
        <!--{/if}-->
    </div>
</div>
</form>
<!--{include file='inc/footer.html'}-->
<script>
$('.weui-btn_primary').click(function(){
	var url = "<!--{base_url()}-->sys/area/save/<!--{isset($result) ? $result['area_id'] : ''}-->";
	$.ajax({
		type:"POST",
		data:$('#dform').serialize(),
		url:url,
		success:function(res){
			if(res > 0){
				$.toast("保存成功", function() {
					window.location.href="<!--{base_url()}-->sys/area";
				});
			}else{
				$.toptip('保存失败', 'error');
			}
		}
	});
	return false;
});

$('.weui-btn_warn').click(function(){
	var url = $(this).attr('url');
	$.confirm("确认删除该地区？", function() {
		$.get(url,function(res){
			if(res.status == '1'){
			 	$.toast(res.msg, function() {
			 		window.location.href="<!--{base_url()}-->sys/area";
			 	});
			}else{
				$.toptip(res.msg, 'error');
			}
		},"JSON");
	});
	return false;
});
</script>