<!--{include file='inc/header.html'}-->
<header class="demos-header">
	<h1 class="demos-title">
		<a href="<!--{base_url()}-->shop/coach"> 
			<img src="<!--{base_url()}-->static/images/back.png"> <span>返回</span>
		</a> 
		<img id="masterMenu" src="<!--{base_url()}-->static/images/menu.png">
		<p>教练详情</p>
	</h1>
</header>
<!--{include file='inc/menu.html'}-->
<form id="dform" enctype="multipart/form-data" method="post" action="<!--{base_url()}-->shop/coach/save/<!--{isset($result) ? $result['coach_id'] : ''}-->">
<div class="weui-cells weui-cells_form">
     <div class="weui-cell weui-cell_select weui-cell_select-after" id="storeItem">
        <div class="weui-cell__hd">
          <label for="" class="weui-label">分店</label>
        </div>
        <div class="weui-cell__bd">
          <select class="weui-select" name="store_id" id="store_id">
          <option value="0"></option>
          <!--{if !empty($store)}-->						          
  		  <!--{foreach $store as  $key=>$value}-->
  		  <option <!--{if isset($result) && $result['store_id'] == $key}-->selected<!--{/if}--> value="<!--{$key}-->"><!--{$value}--></option>
  		  <!--{/foreach}-->
  		  <!--{/if}-->	
          </select>
        </div>
     </div>

	<div class="weui-cell">
		<div class="weui-cell__hd">
			<label class="weui-label">用户名</label>
		</div>
		<div class="weui-cell__bd">
			<input class="weui-input" name="uname" id="uname" type="text" 
				value="<!--{isset($result) ? $result['uname'] : ''}-->">
		</div>
	</div>
	
	<div class="weui-cell">
		<div class="weui-cell__hd">
			<label class="weui-label">密码</label>
		</div>
		<div class="weui-cell__bd">
			<input class="weui-input" name="passwd" id="passwd" type="password" <!--{if ! isset($result)}-->required<!--{/if}-->>
		</div>
	</div>
	
	<div class="weui-cell">
		<div class="weui-cell__hd">
			<label class="weui-label">真实姓名</label>
		</div>
		<div class="weui-cell__bd">
			<input class="weui-input" name="realname" id="realname" type="text" 
				value="<!--{isset($result) ? $result['realname'] : ''}-->">
		</div>
	</div>
	
	<div class="weui-cell">
		<div class="weui-cell__hd">
			<label class="weui-label">教练名</label>
		</div>
		<div class="weui-cell__bd">
			<input class="weui-input" name="realname" id="realname" type="text" 
				value="<!--{isset($result) ? $result['coach_name'] : ''}-->">
		</div>
	</div>
	
	<div class="weui-cell">
		<div class="weui-cell__hd">
			<label class="weui-label">头像</label>
			<p class="help-block">最大512KB</p>
		</div>
        <img id="uploadImg" style="width: 100px;margin-right:10px;" src="<!--{if isset($result) && $result['pic_persion'] != ''}--><!--{$result['pic_persion']}--><!--{/if}-->" >
		<div class="weui-uploader__input-box">
            <input id="uploaderInput" name="pic_persion" onchange="f_change(this);" class="weui-uploader__input" type="file" accept="image/*" multiple="">
        </div>
	</div>
	
	<div class="weui-cells__title">个人简介</div>
	<div class="weui-cells weui-cells_form">
	  <div class="weui-cell">
	    <div class="weui-cell__bd">
	      <textarea class="weui-textarea" name="profile" id="content"  rows="3"><!--{isset($result) ? $result['profile'] : ''}--></textarea>
	    </div>
	  </div>
	</div>  
	
	<div class="button_sp_area">
		<button class="weui-btn weui-btn_primary">保存</button>
        <!--{if isset($result)}--> 
        <a href="javascript:;" url="<!--{base_url()}-->shop/coach/status/<!--{$result['coach_id']}-->/<!--{$result['disabled']}-->" 
        class="weui-btn weui-btn_default"><!--{if $result['disabled']=='0'}-->禁用<!--{else}-->启用<!--{/if}--></a>
        <!--{/if}-->
    </div>
</div>
</form>
<!--{include file='inc/footer.html'}-->
<script>
//创建一个FileReader对象  
var reader = new FileReader();  
function f_change(file){  
    var img = document.getElementById('uploadImg');  
    //读取File对象的数据  
    reader.onload = function(evt){  
        img.src = evt.target.result;  
    }  
    reader.readAsDataURL(file.files[0]);  
}

$('.weui-btn_default').click(function(){
	var url = $(this).attr('url');
	$.get(url,function(){
	 	$.toast("保存成功", function() {
	  		window.location.reload();
	 	});
	});
	return false;
});
</script>