	<!--{if !empty($list)}-->
    <!--{foreach $list as $key => $value}-->
	<div class="weui-form-preview__bd" onClick="javascript:window.location.href='<!--{base_url()}-->shop/store/detail/<!--{$value['store_id']}-->'">
		<div class="weui-form-preview__item">
			<label class="weui-form-preview__label">店名</label> <span
				class="weui-form-preview__value"><!--{$value['name']}--></span>
		</div>
		<div class="weui-form-preview__item">
			<label class="weui-form-preview__label">联系电话</label> <span
				class="weui-form-preview__value"><!--{$value['tel']}--></span>
		</div>
		<div class="weui-form-preview__item">
			<label class="weui-form-preview__label">地址</label> <span
				class="weui-form-preview__value"><!--{$value['addr']}--></span>
		</div>
	</div>
	<div class="weui-form-preview__ft">
	</div>
	<!--{/foreach}-->
    <!--{/if}-->