<!--{include file='inc/header.html'}-->
<header class="demos-header">
	<h1 class="demos-title">
		<a href="<!--{base_url()}-->shop/store"> 
			<img src="<!--{base_url()}-->static/images/back.png"> <span>返回</span>
		</a> 
		<img id="masterMenu" src="<!--{base_url()}-->static/images/menu.png">
		<p>分店详情</p>
	</h1>
</header>
<!--{include file='inc/menu.html'}-->
  <form name="addForm" id="dform"  enctype="multipart/form-data" method="post" action="<!--{base_url()}-->shop/store/save/<!--{isset($result) ? $result['store_id'] : ''}-->">
<div class="weui-cells weui-cells_form">
	<div class="weui-cell">
		<div class="weui-cell__hd">
			<label class="weui-label">店名</label>
		</div>
		<div class="weui-cell__bd">
			<input class="weui-input" id="name" type="text" 
				value="<!--{isset($result) ? $result['name'] : ''}-->">
		</div>
	</div>
	
	<div class="weui-cell">
		<div class="weui-cell__hd">
			<label class="weui-label">图片</label>
			<p class="help-block">最大512KB</p>
		</div>
        <img id="uploadImg" style="width: 100px;margin-right:10px;" src="<!--{if isset($result) && $result['img1'] != ''}--><!--{$result['img1']}--><!--{/if}-->" >
		<div class="weui-uploader__input-box">
            <input id="uploaderInput" name="img1" onchange="f_change(this);" class="weui-uploader__input" type="file" accept="image/*" multiple="">
        </div>
	</div>
	
	<div class="weui-cell">
		<div class="weui-cell__hd">
			<label class="weui-label">电话</label>
		</div>
		<div class="weui-cell__bd">
			<input class="weui-input" name="tel" id="tel" type="text" 
				value="<!--{isset($result) ? $result['tel'] : ''}-->">
		</div>
	</div>

	<div class="weui-cell weui-cell_select weui-cell_select-after">
        <div class="weui-cell__hd">
          <label for="" class="weui-label">城市</label>
        </div>
        <div class="weui-cell__bd">
          <select class="weui-select" name="city" id="city">
          	<option></option>
             <!--{if !empty($city)}-->						          
      		 <!--{foreach $city as $value}-->
      		 <option value="<!--{$value['area_id']}-->" <!--{if isset($result) && $result['city'] == $value['area_id']}-->selected<!--{/if}-->><!--{$value['name']}--></option>
      		 <!--{/foreach}-->
      		 <!--{/if}-->
          </select>
        </div>
     </div>
     
     <div class="weui-cell weui-cell_select weui-cell_select-after">
        <div class="weui-cell__hd">
          <label for="" class="weui-label">地区</label>
        </div>
        <div class="weui-cell__bd">
          <select class="weui-select" name="area" id="area">
          	<option></option>
            <!--{if !empty($area)}-->						          
      		<!--{foreach $area as $val}-->
      		<option value="<!--{$val['area_id']}-->" <!--{if isset($result) && $result['area'] == $val['area_id']}-->selected<!--{/if}-->><!--{$val['name']}--></option>
      		<!--{/foreach}-->
      		<!--{/if}-->	
          </select>
        </div>
     </div>

	<div class="weui-cell">
		<div class="weui-cell__hd">
			<label class="weui-label">详细地址</label>
			<p class="help-block">包括城市地区</p>	
		</div>
		<div class="weui-cell__bd">
			<input class="weui-input" name="addr" id="addr" type="text" 
				value="<!--{isset($result) ? $result['addr'] : ''}-->">
		</div>
	</div>
	
	<div class="weui-cell">
		<div class="weui-cell__hd">
			<label class="weui-label">地址链接</label>
		</div>
		<div class="weui-cell__bd">
			<input class="weui-input" name="addr_link" id="addr_link" type="text" 
				value="<!--{isset($result) ? $result['addr_link'] : ''}-->">
		</div>
	</div>
	
	<div class="weui-cell">
		<div class="weui-cell__hd">
			<label class="weui-label">经度</label>
		</div>
		<div class="weui-cell__bd">
			<input class="weui-input" name="longitude" id="longitude" type="text" 
				value="<!--{isset($result) ? $result['longitude'] : ''}-->">
		</div>
		<div class="help-block"><a href="http://lbs.qq.com/tool/getpoint/index.html" target="_blank">坐标拾取器</a></div>
	</div>
	
	<div class="weui-cell">
		<div class="weui-cell__hd">
			<label class="weui-label">纬度</label>
		</div>
		<div class="weui-cell__bd">
			<input class="weui-input" name="longitude" id="longitude" type="text" 
				value="<!--{isset($result) ? $result['latitude'] : ''}-->">
		</div>
	</div>
	
    <div class="weui-cells__title">简介</div>
	<div class="weui-cells weui-cells_form">
	  <div class="weui-cell">
	    <div class="weui-cell__bd">
	      <textarea class="weui-textarea" name="content" id="content"  rows="3"><!--{isset($result) ? $result['content'] : ''}--></textarea>
	    </div>
	  </div>
	</div>                        
             
   <div class="weui-cells__title">注意事项</div>
	<div class="weui-cells weui-cells_form">
	  <div class="weui-cell">
	    <div class="weui-cell__bd">
	      <script id="container" style="width:100%;" name="notice" type="text/plain"><!--{isset($result) ? $result['notice'] : ''}--></script>
	    </div>
	  </div>
	</div>            
                            	
	<div class="button_sp_area">
		<button class="weui-btn weui-btn_primary">保存</button>
        <!--{if isset($result)}--> 
        <a href="javascript:;" url="<!--{base_url()}-->shop/store/status/<!--{$result['store_id']}-->/<!--{$result['disabled']}-->" 
        class="weui-btn weui-btn_default"><!--{if $result['disabled']=='0'}-->禁用<!--{else}-->启用<!--{/if}--></a>
        <!--{/if}-->
    </div>
</div>
</form>
<!--{include file='inc/footer.html'}-->
<script>
//创建一个FileReader对象  
var reader = new FileReader();  
function f_change(file){  
    var img = document.getElementById('uploadImg');  
    //读取File对象的数据  
    reader.onload = function(evt){  
        img.src = evt.target.result;  
    }  
    reader.readAsDataURL(file.files[0]);  
}

$('.weui-btn_default').click(function(){
	var url = $(this).attr('url');
	$.get(url,function(){
	 	$.toast("保存成功", function() {
	  		window.location.reload();
	 	});
	});
	return false;
});
</script>
